<!DOCTYPE html>
<html dir="ltr" lang="en-GB">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8" />
  <meta name="description" content="Applying for Employment and Support Allowance (ESA) can be stressful. This site is here to help you prepare for the assessment process, which can help." />
  <meta property="og:image:url" content="http://www.esa-assessment.support/images/c-app-share.png" />
  <meta property="og:image" content="http://www.esa-assessment.support/images/c-app-share.png" /><meta property="og:title" content="ESA Assessment Support" />
  <meta property="og:description" content="Applying for Employment and Support Allowance (ESA) can be stressful. This site is here to help you prepare for the assessment process, which can help." />
  <meta property="og:url" content="http://www.esa-assessment.support" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="http://www.esa-assessment.support" />
  <meta name="twitter:site" content="@seapadvocacy" />
  <meta name="twitter:creator" content="@seapadvocacy" />
  <meta name="twitter:title" content="ESA Assessment Support" />
  <meta name="twitter:description" content="Applying for Employment and Support Allowance (ESA) can be stressful. This site is here to help you prepare for the assessment process, which can help." />
  <meta name="twitter:image" content="http://www.esa-assessment.support/images/c-app-share.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta id="theme-color" name="theme-color" content="#79bde9" />
  <link href="css/style.css" rel="stylesheet" media="all" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,300" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'" />
  <title>ESA Assessment Support</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <!--[if lt IE 9]>
			<script src="js/html5.js"></script>
			<script src="js/selectivizr-min.js"></script>
		<![endif]-->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-5941566-6', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <header role="banner">
    <div class="logo" aria-label="seAp assessments ESA logo" aria-role="img"><img src="images/c-app-logo.png" alt="seAp assessments ESA logo" /><span>ESA Assessment Support</span></div>
    <a class="staging-banner" href="http://www.esa-assessment.support/"></a>
    <nav role="navigation" class="to-main-menu">
      <ul>
        <li>
          <a href="#main-menu" data-action="menu">Home</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-action="your-assessment">Your assessment</a>
        </li>
      </ul>
    </nav>
  </header>
  <noscript>
    <a class="no-js" href="/"><p>This is not the full site<br/>Please enable javascript and try again</p></a>
    <p>We&#39;re having trouble loading the app. Please make sure that you&#39;ve got javascript enabled and <a href="/">try again</a>.</p>
    <h2>What is ESA?</h2>
    <p>ESA stands for Employment And Support Allowance. It is a benefit for people who can&#39;t work because of illness or disability.</p>
    <h2>Getting started</h2>
    <p>To start your application for ESA, you will need to do one of the following:</p>
      <ul class="ticks">
        <li>Phone <a href="tel:08000556688">0800 055 6688</a></li>
        <li>Textphone <a href="tel:08000234888">0800 023 4888</a></li>
        <li>Print out and complete <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/549734/esa1.pdf" target="_blank">the ESA1 form (PDF) <span class="vh">opens new tab</span></a>and send it to the address on the form, or take it to your local job centre. Make sure you return the form on time or your claim will fail.</li>
      </ul>
    <p>This site is here to help you understand the process of applying for ESA. For more information or to try out some questions, please enable javascript</p>

  </noscript>
  {{#each questions}}
  <div class="slide question" id="question-{{sluggify question}}" {{#if category}}data-category="{{sluggify category}}" {{/if}}>
    <div class="question-container">
      <h2 class="question-text" tabindex="-1">
					{{#if category}}
						<span id="category-{{sluggify question}}" class="activity" aria-hidden="true">Activity: {{category}}</span>
					{{else}}
						<span class="activity"><strong>Follow up question:</strong></span>
					{{/if}}
					<span class="vh">Question:</span>
					<em class="trigger">{{{question}}}</em>
					<span aria-labelledby="category-{{sluggify question}}"></span>
				</h2>
      <div role="alert"></div>
      <div class="answers">
        <fieldset>
          <legend class="vh">Your answer</legend>
          {{#each answers}}
          <label>
            <input type="radio" value="{{value}}" data-category-name="{{../category}}" name="{{sluggify ../question}}">
            <span>{{label}}</span>
          </label>
          {{/each}}
        </fieldset>
      </div>
      <ul aria-label="menu">
        <li>
          <button data-followup="#{{followUp}}" class="nav-link pick" data-action="pick">Try another</button>
        </li>
        <li>
          <button class="nav-link your-assessment" data-action="your-assessment" role="link">Your assessment so far</button>
        </li>
        <li>
          <button class="nav-link break" data-action="break">I need a break</button>
        </li>
      </ul>
    </div>
  </div>
  {{/each}}
  <div class="slide qualify" id="qualify-support-group">
    <div class="box green">
      <h1 tabindex="-1">
        You may qualify for the<br/>
        <strong>Support Group</strong>
      </h1>
      <p>
        Your answer to that question shows you may qualify for the Support Group.
      </p>
      <p>
        Have a look at some more questions to see what else you might be asked in your assessment, and if there are other things you should make sure you mention.
      </p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="pick">Another question</button>
        </li>
        <li>
          <button class="nav-link" data-action="your-assessment" role="link">Your assessment so far</button>
        </li>
        <li>
          <button class="nav-link" data-action="about-esa" role="link">More information</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide qualify" id="qualify-wrag">
    <div class="box green">
      <h1 tabindex="-1">
        You may qualify for the<br/>
        <strong>Work Related Activity Group</strong>
      </h1>
      <p>
        Your answer to that question shows you may qualify for the Work Related Activity Group.
      </p>
      <p>
        Try some more questions to see if you qualify for the Support Group.
      </p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="pick">Another question</button>
        </li>
        <li>
          <button class="nav-link" data-action="your-assessment" role="link">Your assessment so far</button>
        </li>
        <li>
          <button data-action="about-esa" class="nav-link" role="link">More information</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide break-time" id="break-time">
    <div class="box">
      <span class="sprite-icons sprite-tea" alt="steaming cup of tea"></span>
      <h1 tabindex="-1">You&#39;re on a break</h1>
      <div class="flex-center">
        <p>Feel free to close the window or turn off your computer and come back when you&#39;re ready. Everything will be as you left it :-)</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="resume">Continue</button>
        </li>
        <li>
          <button class="nav-link" data-action="menu" role="link">Home</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide are-you-sure" id="are-you-sure">
    <div class="box">
      <h1 tabindex="-1" style="red">Are you sure?</h1>
      <div class="flex-center">
        <p>This means we will get rid of any answers you've already given and you'll start again from the beginning.</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link red" data-action="delete-data">I&#39;m done! Delete my stuff</button>
        </li>
        <li>
          <button class="nav-link" data-action="menu" role="link">Home</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide deleted" id="deleted">
    <div class="box">
      <h1 tabindex="-1" style="red">Deleted</h1>
      <div class="flex-center">
        <p>All of your assessment data has been successfully deleted from this computer.</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="menu" role="link">Home</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide get-started" id="seen-all">
    <div class="box green">
      <h1 tabindex="-1">No more new questions</h1>
      <div class="flex-center">
        <p>You&#39;ve seen all the questions (so you&#39;re pretty familiar with the assessment now!) but you skipped some. What would you like to do?</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="skipped">Answer skipped questions</button>
        </li>
        <li>
          <button class="nav-link" data-action="your-assessment" role="link">Your assessment so far</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide get-started" id="seen-all-even-skipped">
    <div class="box green">
      <h1 tabindex="-1">Questions completed!</h1>
      <div class="flex-center">
        <p>You&#39;ve answered all the questions available, so you&#39;re pretty well versed now. What would you like to do next?</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="your-assessment" role="link">How your assessment went</button>
        </li>
        <li>
          <button class="nav-link" data-action="restart">Try again</button>
        </li>
        <li>
          <button class="nav-link" data-action="about-esa" role="link">More information</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide get-started" id="resume">
    <div class="box">
      <h1 tabindex="-1">Hello again</h1>
      <div class="flex-center">
        <p>It looks like you&#39;ve been here before. If that&#39;s the case you can &#x201c;Continue&#x201d; to pick up where you left off or &#x201c;Start over&#x201d; to clear what you&#39;ve done before and try any of the questions again. If you haven&#39;t been here before choose &#x201c;Start over&#x201d;.</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="resume">Continue</button>
        </li>
        <li>
          <button class="nav-link" data-action="clean-up" role="link">Start over</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide your-assessment" id="your-assessment">
    <div class="stats-container">
      <div id="stats-content" class="flow"></div>
    </div>
  </div>

  <div class="slide transcript" id="transcript">
    <div class="flow">
      <h1 tabindex="-1">Read the video transcript</h1>
      <div class="about-buttons-content">
      </div>
      <p><strong>Screen 1: </strong>This is a guide covering what you need to know when applying for Employment and Support Allowance, that&#39;s ESA for short, for you or someone you care for.</p>
        <details>
          <summary>Captions</summary>
            <p>Caption: A Guide to Applying for Employment and Support Allowance</p>
          </details>
      <p><strong>Screen 2: </strong><abbr title="Employment And Support Allowance">ESA</abbr> is for people who can&#39;t work because of illness or disability.</p>
        <details>
          <summary>Captions</summary>
          <p>Caption: About ESA</p>
          <p>Graphic: Heart</p>
          <p>Graphic: Wheelchair user</p>
        </details>
      <p><strong>Screen 3: </strong>To get <abbr title="Employment And Support Allowance">ESA</abbr> you have to pass through the Work Capability Assessment.</p>
      <p>The first part of the assessment involves filling in a medical questionnaire called the ESA 50 form. Most people then have a face-to-face assessment.</p>
      <p>A medical professional carries out the assessment, but the final decision on your claim is made by a decision maker at the Department for Work and Pensions, DWP for short, based on recommendations by the assessor.</p>
        <details>
          <summary>Captions</summary>
            <p>Caption: How Your Claim is Assessed</p>
            <p>Graphic: Application form with ESA 50 written on it</p>
            <p>Graphic: Assessment - Two heads in profile facing each other</p>
          </details>
      <p><strong>Screen 4: </strong>When making their recommendation, the assessor will consider:</p>
        <ul>
          <li>The answers you give on the medical questionnaire.</li>
          <li>All the evidence that you send with the questionnaire or provide at the face-to-face assessment.</li>
          <li>The answers you give at your face-to-face assessment.</li>
        </ul>
          <details>
            <summary>Captions</summary>
              <p>Graphic: Answers being written on an application form</p>
              <p>Graphic: A letter being put into an envelope</p>
              <p>Graphic: Assessment - Two heads in profile facing each other</p>
            </details>
      <p><strong>Screen 5: </strong>The assessor looks at different activities that you might be asked to carry out if you were in a job or undertaking a work related activity.</p>
        <details>
          <summary>Captions</summary>
            <p>Caption: At the Assessment</p>
            <p>Graphic: Physical activities - head with arms coming up</p>
            <p>Graphic: Mental activities - head with thought cloud</p>
          </details>
      <p><strong>Screen 6: </strong>These are divided into physical and mental activities.</p>
      <p>The physical activities are:</p>
        <ul>
          <li>Moving around and using steps.</li>
          <li>Your comfort sitting and standing.</li>
          <li>Reaching.</li>
          <li>Picking up and moving things.</li>
          <li>Using your hands.</li>
          <li>Making yourself understood, by speaking, writing or typing.</li>
          <li>Understanding verbal communication.</li>
          <li>Navigating safely.</li>
          <li>Managing continence.</li>
          <li>Staying conscious whilst awake.</li>
        </ul>
          <details>
            <summary>Captions</summary>
            <p>Graphic: Physical activities graphic - corner of screen = rolling credit or scaled up on physical activity in focus</p>
              <ul>
                <li>Moving around and using steps.</li>
                <li>Your comfort sitting and standing.</li>
                <li>Reaching.</li>
                <li>Picking up and moving things.</li>
                <li>Using your hands.</li>
                <li>Making yourself understood, by speaking, writing or typing.</li>
                <li>Understanding verbal communication.</li>
                <li>Navigating safely.</li>
                <li>Managing continence.</li>
                <li>Staying conscious whilst awake.</li>
              </ul>
            </details>
      <p><strong>Screen 7: </strong>The mental activities are:</p>
        <ul>
          <li>Learning tasks.</li>
          <li>Awareness of hazards or danger.</li>
          <li>Starting or finishing tasks.</li>
          <li>Coping with change.</li>
          <li>Getting about.</li>
          <li>Coping with social engagement.</li>
          <li>Behaving appropriately.</li>
        </ul>
        <details>
          <summary>Captions</summary>
          <p>Graphic: Mental activities graphic in corner = rolling credit or scaled up on mental activity in focus</p>
            <ul>
              <li>Learning tasks.</li>
              <li>Awareness of hazards or danger.</li>
              <li>Starting or finishing tasks.</li>
              <li>Coping with change.</li>
              <li>Getting about.</li>
              <li>Coping with social engagement.</li>
              <li>Behaving appropriately</li>
            </ul>
          </details>
      <p><strong>Screen 8: </strong>The assessor will also look at whether you are have any difficulties feeding yourself, and any difficulties you experience in chewing or swallowing.</p>
        <details>
          <summary>Captions</summary>
          <p>Graphic: Eating - plate with knife and fork</p>
        </details>
      <p><strong>Screen 9: </strong>You will be given a score from 0 to 15 for each of these physical and mental activities.</p>
      <p>For example, for the physical activity of &#x2018;using your hands&#x2019;, if you can&#39;t press a button like a telephone keypad or turn the pages of a book, you will score 15 points. If you have full use of your hands you will score 0 points. If you can&#39;t write with a pen or pencil, or have problems using a keyboard, your score will be in between.</p>
        <details>
          <summary>Captions</summary>
          <p>Caption: How the assessment will be scored 0-15</p>
          <p>Graphic: Scoring - a graph with a zig zagging line</p>
        </details>
      <p><strong>Screen 10: </strong>Some tips for you to bear in mind.</p>
      <p>When filling out the form:</p>
        <ul>
          <li>Don&#39;t be intimidated by the questions, or by the form&#39;s length. The questions are simple and are not trying to catch you out.</li>
          <li>Give enough detail about how your condition affects you.</li>
          <li>Get help if you need it from a Citizen&#39;s Advice Bureau or advice centre.</li>
        </ul>
        <details>
          <summary>Captions</summary>
          <p>Caption: Filling in the form</p>
          <p>Graphic: Form</p>
            <ul>
              <li>Don&#39;t worry!</li>
              <li>Give details</li>
              <li>Ask for help</li>
            </ul>
          </details>
      <p><strong>Screen 11: </strong>Throughout the assessment:</p>
      <p>Don&#39;t put on a brave face when talking about your disability or health condition; be clear about how much it affects you.</p>
      <p>Your condition may change from day to day, be clear about how it impacts on you on your worst day.</p>
      <p>Equally, don&#39;t pretend things are worse than they really are. Knowingly giving false answers as part of a benefit application is benefit fraud, which is a criminal offence.</p>
        <details>
          <summary>Captions</summary>
          <p>Captions: Make sure you answer honestly and accurately</p>
          <p>How does your condition affect you on your worst day?</p>
        </details>
      <p><strong>Screen 12: </strong>Don&#39;t forget that you should keep copies of your initial application, your <abbr title="Employment And Support Allowance">ESA</abbr> 50 form, and all the written evidence that you send in or give to the assessor.</p>
        <details>
          <summary>Captions</summary>
          <p>Caption: Keep copies of your documents</p>
          <p>Graphic: Form</p>
        </details>
      <p><strong>Screen 13: </strong>Before the face-to-face assessment:</p>
        <details>
          <summary>Captions</summary>
          <p>Caption: Before you go to your face-to-face assessment</p>
        </details>
        <p><strong>Screen 14: </strong>Make a list of your health conditions and disabilities, so that you don&#39;t forget to mention them at the assessment. Think about the ways they impact upon the activities looked at by the assessment. Try taking the test on our website first, where you can save and print off your most important answers!</p>
        <details>
          <summary>Captions</summary>
          <p>Caption: Prepare for the questions</p>
          <p>Graphic: Making a list - an application for with 1,2,3</p>
          <p>Website address</p>
        </details>
        <p><strong>Screen 15: </strong>Plan your journey to the assessment centre in advance. Don&#39;t be late!</p>
          <details>
            <summary>Captions</summary>
            <p>Plan your journey to the assessment centre in advance. Don&#39;t be late!</p>
            <p>Graphic: stop watch turned into an alarm clock - second hand moving</p>
          </details>
      <p><strong>Screen 16: </strong>You have rights at the face to face assessment:</p>
        <ul>
          <li>You will be able to claim back reasonable expenses for getting to your assessment.</li>
          <li>You have the right to be accompanied at your assessment. You can ask a relative, friend, carer, or an advocate or support worker to go with you.</li>
          <li>You have a right to complain about the assessment if you don&#39;t think it was conducted fairly.</li>
        </ul>
          <details>
            <summary>Captions</summary>
            <p>Captions: Your rights</p>
            <p>Claim expenses</p>
            <p>Graphic: Money - pound symbol with dots around to denote coin</p>
            <p>Caption: You have a right to be accompanied</p>
            <p>Graphic: the two heads in profile</p>
            <p>Caption:You have a right to complain</p>
            <p>Graphic: pencil or pen in a circle</p>
          </details>
      <p><strong>Screen 17: </strong>Once the decision is made you will receive a letter from the DWP telling you the outcome of your application. The letter will let you know the decision and give you an explanation. It will explain how the decision was reached, include the points you scored in your test, and the amount you will be paid.</p>
      <p>If you get fewer than 15 points you will not receive <abbr title="Employment And Support Allowance">ESA</abbr>, and will be expected to be available for work.</p>
      <p>If you get 15 points, you will receive <abbr title="Employment And Support Allowance">ESA</abbr>, and you will be placed in the Work Related Activity Group OR the Support Group.</p>
      <details>
        <summary>Captions</summary>
        <p>Caption: The Outcome</p>
        <p>Graphic: NO Graphic X in a box in a circle</p>
        <p>Graphic: YES graphic tick in a box in a circle</p>
      </details>
      <p><strong>Screen 18: </strong>If you are unhappy with the decision, you can request a mandatory reconsideration. If you are still unhappy, you can appeal against it. We recommend that you get some support with this from a local Citizen&#39;s Advice Bureau or advice centre.</p>
        <details>
          <summary>Captions</summary>
          <p>Caption: If you are unhappy with the decision</p>
        </details>
      <p><strong>Screen 19: </strong>To start your claim for <abbr title="Employment And Support Allowance">ESA</abbr>:</p>
      <p>Graphic: Telephone</p>
        <ul>
          <li>Call the DWP on 0800 055 6688</li>
          <li>Textphone on 0800 023 4888</li>
          <li>Get an ESA1 form from the <a href="https://www.gov.uk/government/publications/capability-for-work-questionnaire">www.gov.uk/government/publications/capability-for-work-questionnaire</a> web address shown, complete it, send it to the address on the form or take it to your local job centre.</li>
        </ul>
        <details>
          <summary>Captions</summary>
          <p>Caption: Getting Started</p>
          <p>Graphic: Phone graphic 0800 055 6688</p>
          <p>Caption: Textphone 0800 023 4888</p>
          <p>www.gov.uk</p>
        </details>
      <p><strong>Screen 20: </strong>www.esa-assessment.support</p>
      <details>
        <summary>Captions</summary>
        <p>Caption: www.esa-assessment.support</p>
      </details>
      <p>You can get more information about the work capability assessment for ESA and practise some of the questions yourself at our independent website <a href="http://www.esa-assessment.support" target="_blank">www.esa-assessment.support</a></p>
      <div class="about-buttons-content">
      </div>
    </div>
  </div>

  <div class="slide about" id="about-esa">
    <div class="flow">
      <h1 tabindex="-1">Essential guide to <abbr title="Employment And Support Allowance">ESA</abbr></h1>
      <p>Once you&#39;ve looked at the guide or the video, you can <a role="button" data-action="start-or-resume" href="javascript:void(0)">get more prepared by trying out some questions &#x2192;</a></p>
      <div class="expandies information">
        <h2><button aria-controls="what-is-esa-for" aria-expanded="true">What is ESA?</button></h2>
        <div id="what-is-esa-for" aria-hidden="false">
          <p>ESA stands for Employment And Support Allowance. It is a benefit for people who can&#39;t work because of illness or disability.</p>
        </div>
      </div>
      <div class="video-embed">
        <iframe id="video-iframe" src="https://player.vimeo.com/video/145264947?&api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="button-box">
        <a data-text-swap="Watch the video unsigned" id="video-signed" class="button-shaped" aria-hidden="false" title="Watch the video with BSL">Watch the video with BSL</a>
        <a id="video-transcript" class="button-shaped"  aria-hidden="false" data-action="transcript" title="Read the video transcript">Read the video transcript</a>
      </div>
      <div class="expandies information">
        <h2><button aria-controls="getting-started" aria-expanded="false">Getting started</button></h2>
        <div id="getting-started" aria-hidden="true">
          <p>To start your application for <abbr title="Employment And Support Allowance">ESA</abbr>, you will need to do <strong>one</strong> of the following:</p>
            <ul class="ticks">
              <li>Phone <a href="tel:08000556688">0800 055 6688</a></li>
              <li>Textphone <a href="tel:08000234888">0800 023 4888</a></li>
              <li>Print out and complete <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/549734/esa1.pdf" target="_blank">the ESA1 form (PDF) <span class="vh">opens new tab</span></a>and send it to the address on the form, or take it to your local job centre. Make sure you return the form on time or your claim will fail.</li>
            </ul>
        </div>
        <h2><button aria-controls="application-process" aria-expanded="false">Assessment process</button></h2>
        <div id="application-process" aria-hidden="true">
          <p>To get <abbr title="Employment And Support Allowance">ESA</abbr> you have to pass through the <strong>Work Capability Assessment</strong>.</p>
          <p>The first part of the assessment involves filling in a medical questionnaire called the ESA50 form.</p>
          <p>Most people then go on to have a face-to-face assessment.</p>
          <p>A medical professional carries out the assessment but the final decision on your claim is made by a decision maker at the Department for Work and Pensions (DWP) based on recommendations by the assessor.</p>
          <p>When making their recommendation, the assessor will consider:</p>
          <ul class="ticks">
            <li>The answers you give on the medical questionnaire.</li>
            <li>All the evidence that you send with the questionnaire or provide at the face-to-face assessment.</li>
            <li>The answers you give at your face-to-face assessment.</li>
          </ul>
        </div>
        <h2><button aria-controls="scoring" aria-expanded="false">Scoring</button></h2>
        <div id="scoring" aria-hidden="true">
          <p>The assessor looks at different activities that you might be asked to carry out if you were in a job or work-related activity. These are divided into physical and mental activities. You will be given a score from 0 to 15 for questions relating to each of these physical and mental activities.</p>
          <p>For example, for the physical activity of 'using your hands', if you can&#39;t press a button such as a telephone keypad or turn the pages of a book, you will score 15 points. If you have full use of your hands you will score 0 points. If you can&#39;t write with a pen or pencil, or have problems using a keyboard, your score will be somewhere in between.</p>
        </div>
        <h2><button aria-controls="the-assessment-questions" aria-expanded="false">How to answer the assessment questions</button></h2>
        <div id="the-assessment-questions" class="waypoint-trigger" aria-hidden="true">
          <ul class="ticks">
            <li>Don&#39;t put on a brave face when talking or writing about your disability or health condition - be clear about how much it affects you.</li>
            <li>Your condition may change from day to day, be clear about how it impacts on you on your worst day and other days when you don&#39;t feel well.</li>
            <li>Equally, don&#39;t pretend things are worse than they really are. Knowingly giving false answers as part of a benefit application is benefit fraud, which is a criminal offence.</li>
          </ul>
        </div>
        <h2><button aria-controls="form" aria-expanded="false">Tips for filling in the ESA50 form</button></h2>
        <div id="form" aria-hidden="true">
          <ul class="ticks">
            <li>Try not to be intimidated by the questions, or by the form&#39;s length. The questions are not trying to catch you out but to get an accurate picture of your condition.</li>
            <li>Give enough detail about how your condition affects you.</li>
            <li>Get help if you need it from a <a href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/" target="_blank">Citizen&#39;s Advice Bureau</a> or advice centre</li>
          </ul>
        </div>
        <h2><button aria-controls="before" aria-expanded="false">Preparing for the assessment</button></h2>
        <div id="before" aria-hidden="true">
          <ul class="ticks">
            <li>Make a list of your health conditions and disabilities, so you can mention them at the assessment. Try <a href="javascript:void(0)" data-action="start-or-resume">answering some of the questions here</a> first, so you know the sorts of things you&#39;ll be asked.</li>
            <li>Plan your journey to the assessment centre in advance. Don&#39;t be late! </li>
            <li>Your assessor will probably ask you how you got to the assessment. It may affect your claim if the answer you give seems to contradict the answers given on your form.</li>
            <li>If your condition has worsened since you completed the ESA50 form, get a report &#x2F; letter from a doctor or other professional to explain how it has changed, and how that impacts on you.</li>
            <li>Consider keeping a diary which you can show the assessor. This will help you track your good and bad days, the impact of any treatment you have, and whether what you do on one day affects what you do on the next.</li>
          </ul>
        </div>
        <h2><button aria-controls="assessment-tips" aria-expanded="false">Tips at the face-to-face assessment</button></h2>
        <div id="assessment-tips" aria-hidden="true">
          <ul class="ticks">
            <li>If you are not sure about what you are being asked, ask the assessor for an explanation.</li>
            <li>Take your time to answer questions.</li>
            <li>If you are asked to do something physical such as bend/stretch and it causes you any difficulty or pain or you can't do it, then tell the assessor.</li>
          </ul>
        </div>
        <h2><button aria-controls="rights" aria-expanded="false">Your rights</button></h2>
          <div id="rights" aria-hidden="true">
            <ul class="ticks">
              <li>You have the right to be accompanied at your assessment. You can ask a relative, friend, carer, or an advocate or support worker to go with you.</li>
              <li>You will be able to claim back reasonable expenses for getting to your assessment, so keep any bus or train tickets, or parking fees. You can claim taxi receipts if you can&#39;t get there by any other way and you have agreed it with them in advance.</li>
              <li>You have the right to audio (not video) record the assessment, but you must tell the assessor before you attend the appointment that are going to do so, and you must be able to provide a copy to the assessor at the end of the session.</li>
              <li>You have a right to complain about the assessment if you don&#39;t think it was conducted fairly.</li>
            </ul>
          </div>
        <h2><button aria-controls="the-outcome" aria-expanded="false">The outcome</button></h2>
        <div id="the-outcome" aria-hidden="true">
          <p>You will receive a letter from the DWP telling you the outcome of your application. The letter will explain how the decision was reached, including the points you scored in your test, and the amount you will be paid. You may also be phoned with the outcome.</p>
          <p>If you receive fewer than 15 points you will not be entitled to <abbr title="Employment And Support Allowance">ESA</abbr>. You may be entitled to Job Seekers Allowance or other benefits.</p>
          <p>If you score 15 points or more, you will be entitled to <abbr title="Employment And Support Allowance">ESA</abbr>. Depending on the detail of your answers, you may be placed in the Work Related Activity Group, in which case you will be required to undertake some activities to help you become work ready in the future, or the Support Group, in which case you will not have to engage in any such activities.</p>
        </div>
        <h2><button aria-controls="if-you-dont-agree" aria-expanded="false">If you don&#39;t agree with the decision</button></h2>
        <div id="if-you-dont-agree" aria-hidden="true">
          <p>You can request a Mandatory Reconsideration if you do not think the decision is correct. If that is not successful you may still appeal against it. We recommend that you get some support with this from a local <a href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/" target="_blank">Citizen&#39;s Advice Bureau</a> or advice centre.</p>
        </div>
        <h2><button aria-controls="eligibility" aria-expanded="false">Eligibility</button></h2>
        <div id="eligibility" aria-hidden="true">
          <p>More basic information about eligibility for <abbr title="Employment And Support Allowance">ESA</abbr> can be found on the Government's <a href="https://www.gov.uk/employment-support-allowance/eligibility" target="_blank">ESA eligibility information page</a>.</p>
        </div>
        <h2><button aria-controls="the-guide" aria-expanded="false">For more information</button></h2>
        <div id="the-guide" aria-hidden="true">
          <p>If you would like more information <a data-action="guide">read our full guide</a> to applying for <abbr title="Employment And Support Allowance">ESA</abbr>.</p>
        </div>
        <ul aria-label="menu">
          <li>
            <button class="nav-link" data-action="start-or-resume" role="link">Try some questions</button>
          </li>
          <li>
            <button class="nav-link" data-action="break" role="link">Take a break?</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="slide guide" id="guide">
    <div class="flow">
      <h1>A Guide to Applying for Employment and Support Allowance (ESA)</h1>
      <h2>About This Guide</h2>
      <p>Welcome to this Guide to applying for Employment and Support Allowance - &#x2018;ESA&#x2019; for short.</p>
      <p>We&#39;ve brought together all the information you need to get you through the application process, whether it&#39;s you going through it, or a relative or someone else that you are supporting or care for.</p>
      <p>We&#39;ve included some basic information in the guide on ESA itself, but our main focus is on the Work Capability Assessment (WCA), that everyone who applies for ESA must pass through.</p>
      <h2>Basic Information about ESA</h2>
      <h3>Who is ESA For?</h3>
      <h4>ESA is for people who:</h4>
      <ul>
        <li>Can&#39;t work because of illness or disability</li>
        <li>Aren&#39;t getting Statutory Sick Pay (SSP)</li>
      </ul>
      <p>ESA is for people of working age, which means it's for people between 16 and their retirement age. </p>
      <p>More basic information about eligibility for ESA can be found on the Government's <a href="https://www.gov.uk/employment-support-allowance/eligibility" target="_blank">ESA Eligibility page</a>.</p>
      <h3>Different Forms of ESA</h3>
      <h4>ESA comes in 2 forms:</h4>
      <ul>
        <li>Income-related, which is means-tested</li>
        <li>Contribution-based, which is based on you having paid enough National Insurance contributions</li>
      </ul>
      <p>The type of ESA you get will depend on a range of factors that we cover at the end of this guide. </p>
      <p>In some parts of the country you can no longer make a new claim for income-related ESA, instead you have to claim Universal Credit. Eventually, Universal Credit will replace income-related ESA everywhere. This guide does not provide details about Universal Credit.</p>
      <h3>The Application Process</h3>
      <h4>Your application will involve the following stages:</h4>
      <ul>
        <li>An initial application over the phone or by post</li>
        <li>An assessment of your capability to work, the Work Capability Assessment, which will involve you:
          <ul>
            <li>Completing a medical questionnaire, the ESA 50 form</li>
            <li>(For most people) attending a face-to-face interview</li>
          </ul>
        </li>
        <li>The Department for Work and Pensions (DWP) making a decision on your claim</li>
      </ul>
      <h3>The Outcomes of the Application Process</h3>
      <p>There are 3 possible outcomes at the end of the application and assessment process.</p>
      <p>The first outcome is that you are found fit for work and fit to look for and apply for work. This means that you will not be claiming ESA but perhaps another benefit instead.</p>
      <h4>If you are found to be not fit for work, you will be claiming ESA. There are then 2 possible further outcomes:</h4>
      <ul>
        <li>You are found fit to take part in work-related activity, this means being placed in the &#x2018;Work Related Activity Group&#x2019; and being required to undertake some activities in preparation for being able to work at some point in the future</li>
        <li>You are found not to be able to undertake work-related activity, and are placed in the &#x2018;Support Group&#x2019;</li>
      </ul>
      <h2>Starting Your Application</h2>
      <h4>You can start your application for ESA in 1 of 2 ways:</h4>
      <ul>
        <li>By calling the DWP:
          <ul>
            <li>By telephone, on 0800 055 6688 (Welsh language line - 0800 012 1888)</li>
            <li>By textphone, on 0800 023 4888</li>
          </ul>
        </li>
        <li>By printing out the ESA1 form from your computer, completing it and sending it to the address on the form, or taking it to your local job centre</li>
      </ul>
      <p>The DWP say that the quickest way that you can make a claim is by phone.</p>
      <h4>Whether you apply over the phone, or via the form, you will be asked a number of questions relating to:</h4>
      <ul>
        <li>Details about you and your partner</li>
        <li>Basic information about your illness and/or disability</li>
        <li>Your previous employment</li>
        <li>Other benefits or statutory support that you claim or have recently claimed</li>
        <li>Whether you have spent time abroad </li>
        <li>Pensions or health insurance payouts that you are receiving</li>
        <li>Your recent educational experience</li>
        <li>What savings and other financial assets you have</li>
        <li>Whether you own or rent your home</li>
        <li>The other people living in your house</li>
        <li>Any other income that you have coming in</li>
      </ul>
      <h4>You will need to have the following ready with you when starting a claim over the phone:</h4>
      <ul>
        <li>Your contact details</li>
        <li>Your National Insurance number</li>
        <li>Your medical certificate</li>
        <li>Your GP&#39;s address and phone number</li>
        <li>Your council tax bill</li>
        <li>The contact details for your last employer, and your dates of employment, or the last date on which you worked</li>
        <li>Your bank account details</li>
        <li>Details of any other money that you are getting</li>
      </ul>
      <h3>Help When Calling</h3>
      <p>You can get someone to call on your behalf, but you should be with them when the call is made, so that the DWP know that they are genuinely helping you, unless you have completed and returned a mandate form to allow them to speak on your behalf.</p>
      <p>You can also get someone to complete the written form on your behalf, though you must sign it. </p>
      <h3>Checking the Details</h3>
      <p>If you make your claim by phone, the DWP will send you details of the information you provided to them.</p>
      <p>If any details are wrong you must contact the DWP straightaway.</p>
      <h3>Rate of Pay</h3>
      <p>Whilst your claim is being assessed, you will be paid at what is called the &#x2018;Basic Rate of ESA&#x2019;.</p>
      <h2>Assessment Process Basics</h2>
      <h4>The Work Capability Assessment (WCA) process involves 3 stages:</h4>
      <ul>
        <li>Your completing of a medical questionnaire, the ESA 50 form </li>
        <li>For most people, attending a face-to-face assessment</li>
        <li>A DWP decision maker deciding on the outcome of your claim, based on the recommendation of the assessor</li>
      </ul>
      <h3>The ESA 50 Form</h3>
      <p>The WCA process starts when the DWP sends you the ESA 50 form, which asks about the impact of your health/condition on your ability to carry out a range of activities.</p>
      <h3>Face-to-face Assessment</h3>
      <p>Not everyone has to go through a face-to-face assessment. You will not be asked to attend a face-to-face assessment if the fact that you are not fit for work or work-related activity can be clearly established from your medical questionnaire alone.</p>
      <p>This may be because you have a particular condition or disability, or you are undergoing certain treatments whose impact the DWP understands will mean that you are fit neither for work nor for work-related activity.</p>
      <p>You will not be found to be fit for work without at least being offered a face-to-face assessment.</p>
      <p>The whole WCA process should be completed within 13 weeks of you starting the claim.</p>
      <p>There have been delays in the time taken to carry out the face-to-face assessment for some people, but the DWP is working with its healthcare provider to speed up the process.</p>
      <h3>How Your Claim is Assessed</h3>
      <p>Before you start filling in your medical questionnaire, or thinking about your face-to-face assessment, it is important that you understand how your claim is assessed.</p>
      <p>The assessment is carried out by a medical professional employed by Maximus, a company that has been contracted by the Government to deliver assessments.</p>
      <p>He or she does not make the final decision on your claim, but makes recommendations to a decision maker employed directly by the DWP.</p>
      <h4>Each bit of the process is important to the final result. When making their recommendation, the assessor will consider:</h4>
      <ul>
        <li>Everything that you write on the medical questionnaire</li>
        <li>All the evidence that you send with the questionnaire or provide at the assessment</li>
        <li>The answers you give at your assessment</li>
        <li>Any other evidence they may have from other sources</li>
      </ul>
      <h2>Activities, Descriptors and Scores </h2>
      <h3>17 Activities</h3>
      <p>When making their assessment, the assessor looks at 17 different &#x2018;activities&#x2019; that you might be asked to carry out, or issues that you might face, if you were in a job or undertaking work-related activity.</p>
      <p>These look at physical issues connected with your disability or condition, and at mental, cognitive and intellectual function. </p>
      <h4>In plain language, the physical activities are:</h4>
      <ul>
        <li>Moving around and using steps</li>
        <li>Your comfort sitting and standing</li>
        <li>Reaching</li>
        <li>Picking up and moving things</li>
        <li>Using your hands</li>
        <li>Making yourself understood, by speaking, writing or typing</li>
        <li>Understanding verbal communication</li>
        <li>Navigating safely</li>
        <li>Managing continence</li>
        <li>Staying conscious whilst awake</li>
      </ul>
      <h4>The mental, cognitive and intellectual activities are:</h4>
      <ul>
        <li>Learning tasks</li>
        <li>Awareness of hazards or danger</li>
        <li>Starting or finishing tasks</li>
        <li>Coping with change</li>
        <li>Getting about</li>
        <li>Coping with social engagement</li>
        <li>Behaving appropriately</li>
      </ul>
      <h3>Descriptors and Scores</h3>
      <p>For each of these activities, the assessor looks at which of a number of &#x2018;descriptors&#x2019; best describes your situation. Each of these descriptors has a score attached, between 0 and 15. You can see what this means in more detail by looking at the descriptors which relate to the physical activity &#x2018;using your hands&#x2019;, and to the mental, cognitive and intellectual activity &#x2018;coping with change&#x2019;.</p>
      <h4><i>Using Your Hands (Manual Dexterity)</i></h4>
      <ul>
        <li>You cannot press a button, such as a telephone keypad or cannot turn the pages of a book with either hand - <i>you score 15 points</i></li>
        <li>You cannot pick up a &#xA3;1 coin or equivalent with either hand - <i>you score 15 points</i></li>
        <li>You cannot use a pen or a pencil to make a meaningful mark - <i>you score 9 points</i></li>
        <li>You cannot use a suitable keyboard or mouse - <i>you score 9 points</i></li>
        <li>None of the above apply - <i>you score 0 points</i></li>
      </ul>
      <h4><i>Coping with Change</i></h4>
      <ul>
        <li>You cannot cope with any change to the extent that day-to-day life cannot be managed - <i>you score 15 points</i></li>
        <li>You cannot cope with minor planned change (such as pre-arranged change to the routine time scheduled for a lunch break), to the extent that overall, day-to-day life is made significantly more difficult - <i>you score 9 points</i></li>
        <li>You cannot cope with minor unplanned change (such as the timing of an appointment on the day it is due to occur), to the extent that overall, day-to-day life is made significantly more difficult - <i>you score 6 points</i></li>
        <li>None of the above apply - <i>you score 0 points</i></li>
      </ul>
      <h3>The Total Score</h3>
      <h4>At the conclusion of the assessment, the assessor will have a score, on which they base their recommendation to award you ESA or not:</h4>
      <ul>
        <li>If you score a total of 15 points or more, you are found to have limited capability for work - this means that you will be paid ESA </li>
        <li>If you score less than 15 points - this means that you will not be paid ESA</li>
      </ul>
      <p>The score is worked out by adding together the highest score under each of the activities.</p>
      <p>You can get to a score of 15 points by having a disability or health condition which has <strong><i>a significant impact</i></strong> on <strong><i>a number of aspects</i></strong> of your life, or by having a disability or health condition which has <strong><i>a very limiting impact</i></strong> on <strong><i>one aspect</i></strong> of your life.</p>
      <p>Once you&#39;ve been found to have limited capability for work, the assessor considers whether you have limited capability for work-related activity, in which case you are placed in the Support Group. </p>
      <h4>This is done by considering whether any of a particular set of the 15 point descriptors apply to you. For example:</h4>
      <ul>
        <li>In relation to the &#x2018;using your hands&#x2019; activity, you would be found unfit for work-related activity if you cannot press a button, such as a telephone keypad, or cannot turn the pages of a book with either hand.</li>
        <li>In relation to the &#x2018;coping with change&#x2019; activity, you would be found unfit for work-related activity if you cannot cope with any change to the extent that your day-to-day life cannot be managed.</li>
      </ul>
      <p>The amount of ESA you will receive depends on whether you are placed in the Work Related Activity Group, or the Support Group. </p>
      <h3>Extra Questions for Placement in the Support Group</h3>
      <p>The assessment process also looks at 3 further areas relating to your daily life: &#x2018;maintaining personal hygiene&#x2019;, &#x2018;eating and drinking&#x2019;, and finally, &#x2018;communicating&#x2019;.</p>
      <h4>People who face severe difficulties in respect of any of these activities are placed in the Support Group, with an example of a relevant severe difficulty for each of these 3 categories given below:</h4>
      <ul>
        <li>&#x2018;Maintaining personal hygiene&#x2019; - for example, you cannot clean your own torso (excluding your back) without physical assistance</li>
        <li>&#x2018;Eating and drinking&#x2019; - for example, you cannot convey food or drink to mouth without physical assistance </li>
        <li>&#x2018;Communicating&#x2019; - for example, you cannot make self understood to others due to disassociation from reality due to severe disorder of mood or behaviour</li>
      </ul>
      <h2>Key Things to Think About Throughout the Assessment</h2>
      <h3>Understand the Meaning of the Questions Asked</h3>
      <p>Whether on the medical questionnaire, or in the face-to-face assessment, never answer a question before thinking carefully about what it actually means.</p>
      <p>In a face-to-face assessment, if you don&#39;t understand the question, ask the assessor to repeat or explain it.</p>
      <h3>Think About How It Feels When You Carry Out an Activity</h3>
      <p>When someone asks you if you can do something, giving an answer isn&#39;t always easy.</p>
      <p>You may say that you can, because at one level that&#39;s true, and you will get the task/activity done if you have to.</p>
      <h4>However, you might find the task:</h4>
      <ul>
        <li>Painful</li>
        <li>Stressful</li>
        <li>Exhausting</li>
      </ul>
      <p>The assessor has to look at <i><strong>how</strong></i> you carry out a specific task, not just if you can do it. If you can&#39;t do it without considerable pain, stress, or if doing it tires you out, you need to make that clear. To be assessed as being capable of doing something, you need to be able to carry out it out safely, to a reasonable standard, repeatedly and within a reasonable length of time.</p>
      <p>The Work Capability Assessment is about work. It assesses whether you are capable of holding down a job, essentially whether you are capable of working a 24 hour week. You need to think about whether you could manage to carry out certain activities across the whole of a working week, or whether carrying out an activity repeatedly on 1 or 2 days might leave you too exhausted to do it again later in the week.</p>
      <h3>Think About How Your Condition Affects You</h3>
      <p>You may find that your condition varies over time, even during a single day. On some days, perhaps for days on end, you may find yourself able to carry out certain tasks. When your condition is at its worst, you may find those tasks impossible. Those difficult times may last a day, or for days on end.</p>
      <p>Because your condition varies, more than one descriptor attached to an activity might apply to you over time.</p>
      <p>The assessor must take into account how your condition affects you for the majority of the time.</p>
      <p>That means that the good or bad luck of how you feel on the day of the assessment should not determine the result that you get. </p>
      <h4>In practical terms:</h4>
      <ul>
        <li>You need to make clear on your form, during your face-to-face assessment, and through the supporting information you submit, how the impact of your health condition/disability varies day-to-day</li>
        <li>In particular, you need to be clear how your condition/disability affects you on your worst day </li>
        <li>You should make sure that anyone providing written evidence to support your claim includes information about how your condition varies and affects what you can do</li>
      </ul>
      <p>You may find it useful to keep a diary of the way your condition/disability affects you. This help you identify the impact on you of carrying out a task, for example if you do a lot of an activity one day, does that leave you exhausted the next or next few days? It may also help you identify the impact of treatment on one day over the days that follow. This could include being left exhausted by the effort of being engaged in counselling.</p>
      <h3>Think About How Your Treatment Affects You</h3>
      <p>You may be receiving a variety of different treatments for your health condition, and / or taking a variety of different medication to help you cope with it. </p>
      <p>Treatment programmes and medication may have side effects. You should be clear at all times in the assessment process about how any side effects impact on you.</p>
      <h3>Think About How Your Mental Health Affects You</h3>
      <p>At first sight, some of the &#x2018;mental, cognitive and intellectual&#x2019; activities on which people are assessed might seem most relevant to people who have learning disabilities, neurological conditions or brain injuries.</p>
      <p>However, the impact of mental health problems, may be relevant to all these activities on which you will be assessed. Depression, for example, can affect the way you remember things, your concentration, and your motivation to complete tasks.</p>
      <p>Mental health problems may vary in their impact over time. You need to describe that variation and what it means in concrete terms on your good days and bad days.</p>
      <h3>Give Enough Detail and Use Real Life Examples</h3>
      <p>You should give enough detail and use examples from real life in all your answers on the medical questionnaire and at the assessment.</p>
      <h4>For example:</h4>
      <ul>
        <li>If an activity causes you pain, make sure you explain where it affects you, what type of pain it is, and how severe it is</li>
        <li>When thinking about any difficulties standing up, use an example of how you feel in a specific situation, for example boiling a kettle</li>
        <li>When talking about communication and understanding, be clear about the barriers that you face to being understood</li>
      </ul>
      <h4>There are also specific things that you should make clear, for example:</h4>
      <ul>
        <li>If you can only swing on crutches rather than walk with the help of crutches you are assessed as if you can&#39;t walk</li>
        <li>If you struggle with balance when you are walking or standing, make that clear</li>
      </ul>
      <h3>Answer Honestly and Accurately</h3>
      <p>You may be used to hiding the full impact of your disability and health conditions from other people. When people ask you how you are, you may often say &#x2018;Not so bad&#x2019;. You might find it difficult to admit to yourself and others that things are as difficult as they actually are.</p>
      <p>When you apply for ESA you should not put on a brave face, but should be honest about the impact of your disability and health conditions on your life. The information that you provide is confidential and will only be used to assess your entitlement to ESA.</p>
      <p>In the same way as you shouldn&#39;t hide the impact of your condition/disability on your daily life, you should also not pretend that things are worse than they really are. Knowingly submitting false information as part of a benefit application in order to access benefits is benefit fraud, which is a criminal offence.</p>
      <p>Some of the questions in the face-to-face assessment, and the observations of your behaviour will seek to identify if there any inconsistencies between your answers and the actual situation (see the point below about how you get to the assessment).</p>
      <h3>Keep Copies</h3>
      <h4>You should keep copies of:</h4>
      <ul>
        <li>Your medical questionnaire/ESA 50 form</li>
        <li>All written evidence that you send in with the form, or give to the assessor at the face-to-face assessment</li>
      </ul>
      <h2>Completing the Medical Questionnaire - The ESA 50 Form</h2>
      <p>Getting the ESA 50 form completed properly is the first step to being able to claim Employment and Support Allowance.</p>
      <p>The form is quite long, 27 pages, but you should not be intimidated by it. The questions in the form are simple, but you must think carefully about how you answer them. </p>
      <p>Your answers are the starting point for the assessor if you have a face-to-face assessment. If you do end up appealing against a decision on your claim, the ESA 50 form will be a key part of that appeal.</p>
      <p><strong>You must complete the form and return it to the DWP by the date on the letter. If you do not return the form on time, your ESA payments will stop.</strong></p>
      <p>The first sections of the form ask you some basic questions about your contact details. Later on you are asked for contact details for your GP and anyone else who is giving your treatment. </p>
      <h4>The form also allows you to:</h4>
      <ul>
        <li>Make sure that someone else is told about your assessment date instead of you. You might find this helpful if you have trouble making sure that you remember or attend appointments.</li>
        <li>Tell the DWP about any particular help you may need when getting to face-to-face assessment or once you are in the assessment. This might relate to access issues, for example getting up and down steps, or whether you might need a sign language or other interpreter.</li>
      </ul>
      <p>You are also asked to give basic information about the condition(s) that affect you. If you have suffered an event that has damaged your health, such as a stroke or heart attack, the form asks you to indicate the date on which it occurred.</p>
      <h4>The form asks you to:</h4>
      <ul>
        <li>List any medication that you are taking </li>
        <li>List any treatment, including clinical or hospital treatment, that you are receiving, have recently received, or expect to receive in the future</li>
        <li>Indicate if you are currently receiving any treatment for drug or alcohol issues</li>
      </ul>
      <p>The form than goes on to ask you a set of questions about how your health condition or disability affects your ability to carry out different activities. </p>
      <p>The list of activities about which you will be asked is very similar, though not identical, to the 17 activities set out above. </p>
      <p>Most of the questions ask you to answer &#x2018;Yes&#x2019;, &#x2018;No&#x2019;, or &#x2018;It Varies&#x2019; to a statement about what you are able to do. You also get the opportunity to provide more information about how your condition affects you in respect of specific activities. You should use this opportunity to give as much detailed and accurate information as you can about the impact of your health condition.</p>
      <p>There is also a section in the end in which you can provide further information. </p>
      <p>If you aren&#39;t sure about how to complete the form, it is a good idea to seek help. You may be able to get help from your local Citizens Advice Bureau (&#x2018;CAB&#x2019;), another local advice centre, or from your local council.</p>
      <p>Information about where to get help is available from the <a href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/" target="_blank">CAB</a> and <a href="http://www.adviceuk.org.uk/looking-for-advice-2/" target="_blank">Advice UK</a> websites. If you&#39;re getting support with your disability/health condition from a charity, a health worker or a social worker, they will also be able to point you towards help.</p>
      <p>If you don&#39;t want face-to-face advice, but could do with a steer about what to say in your form, <a href="http://www.w3schools.com" target="_blank">our website</a> has some specific tips relating to each question on the form. </p>
      <p><strong>Please remember that you cannot delay completing and submitting the ESA form simply because you need advice to do so.</strong></p>
      <h3>Collecting Evidence</h3>
      <p>You are encouraged to submit any medical reports that you may have along with your ESA50. </p>
      <h4>Bear in mind that:</h4>
      <ul>
        <li>You may be charged by your GP to get a medical report from them</li>
        <li>You should make reference to the supporting evidence that you have on the form itself </li>
        <li>You should take a copy of the form and any supporting evidence that you submit</li>
      </ul>
      <h3>What Happens Next</h3>
      <p>The medical questionnaire and your supporting information will be reviewed by the assessor, who will decide whether or not they have enough information to place you in the Support Group without you having to undergo a face-to-face assessment. Most people are in fact called for a face-to-face assessment.</p>
      <p>A few weeks after you have sent the medical questionnaire back, you will be informed by letter that you are being called to a face-to-face assessment. You will then be called and offered a date, which you can change if it isn&#39;t suitable for you. The date and venue will be confirmed by letter.</p>
      <p>It is important to realise that the face-to-face assessment is a standard part of the process. Being called for a face-to-face assessment does not mean that the information that you have submitted has not been believed, nor that you are unlikely to get ESA.</p>
      <h2>The Face-to-Face Assessment</h2>
      <p>The face-to-face assessment is not like a normal appointment with a GP, a physio or another health professional.</p>
      <p>The assessor is not trying to diagnose your condition, or work out how best to treat it. He or she is simply interested in the impact that your condition has on you. This means that they will ask you a different type of questions to those you would expect if you were seeing your GP or other health worker.</p>
      <p>Sometimes the face-to-face assessment will involve a physical examination. Often, however, the assessor will just want to ask you questions. The assessor cannot ask you to complete a task as part of a physical assessment that will cause you pain.</p>
      <p>You also have the chance to give your assessor any further supporting information at this point, for example reports from health professionals, which he or she will take into consideration.</p>
      <p>It is important to realise that the assessor also uses observations of your behaviour, from the time at which you arrive in the assessment centre onwards, in making their recommendation.</p>
      <p>For example, they will observe if you respond when your name is called to go to the assessment room, whether you have help getting up from the chair in the waiting room, and how you walk to the room where the assessment is held.</p>
      <p>Some of the questions may focus on how you have prepared for coming to the assessment, and how you have got here. Travel to the assessment is particularly important, because the assessor will be interested in how well you can get around. If you have walked some distance from a bus stop or car park to the place where the assessment is taking place, it is unlikely that you will score highly on the mobility activity.</p>
      <h2>Practicalities</h2>
      <h3>Venue</h3>
      <p>The face-to-face assessment will usually take place in a one of Maximus&#39; assessment centres, which are situated in most major towns and cities across the country.</p>
      <h4>You can request a home visit, rather than to attend an assessment centre, if:</h4>
      <ul>
        <li>You live more than 90 minutes travel by public transport from the assessment centre </li>
        <li>You are not fit for travel. In practice this means thinking about whether the GP would usually visit you, rather than you visit his surgery, and you will need a doctors letter to back this up</li>
      </ul>
      <h3>Travel and Expenses</h3>
      <h4>You will be able to claim back reasonable expenses in relation to attending the face-to-face assessment. These can include:</h4>
      <ul>
        <li>Travel costs</li>
        <li>Taxi fares where other options are not appropriate and you discuss this in advance with the DWP, and have a doctor&#39;s letter to back this up</li>
        <li>Other travel related costs, including parking, tolls and congestion charges</li>
        <li>Child care costs for young children, if someone has to look after your child or children whilst you are at the assessment</li>
      </ul>
      <p>If you need someone with you, you can claim for their travelling costs. No other costs can be claimed back, for example for meals or loss of earnings.</p>
      <p>If you do not have one, you should ask for a travel reimbursement claim form at the assessment, and make sure you keep bus / train tickets / receipts or parking tickets / receipts for both yourself and anyone who accompanies you.</p>
      <h3>Planning Your Travel</h3>
      <p>Plan your journey to the place where the assessment is being held in advance. Your appointment letter should contain a map.</p>
      <h4>Also:</h4>
      <ul>
        <li>If you are using public transport, be clear about the times, numbers and destinations of the buses or trains you will be using</li>
        <li>If you are travelling by car, be clear where you will park</li>
        <li>Have a street plan with you that shows where the assessment will take place, so that you know how to get from your bus stop/train station to where the assessment is being held </li>
        <li>Know how long it will take you to get from the bus stop/train station to where the assessment is being held</li>
      </ul>
      <p><strong>It is very important that you do not arrive late for your assessment.</strong></p>
      <p>If you can&#39;t make it to the appointment you must let the DWP know. If you do not, and you do not go, your benefit will be affected and may be stopped until you do attend an assessment. You will not usually be able to cancel more than one appointment without it affecting your benefit.</p>
      <h2>Your Rights</h2>
      <h3>Your Right to Be Accompanied</h3>
      <p>You have the right to be accompanied at your assessment. You can ask a relative, friend, carer or a paid advocate or other professional working with you to attend. </p>
      <p>They can simply be present to give you reassurance, or can speak on your behalf in the assessment, or take part in some other way, if you wish them to do so. </p>
      <h3>Your Right to Interpretation Support</h3>
      <h4>You have the right to interpretation support if:</h4>
      <ul>
        <li>You struggle to communicate in English</li>
        <li>You are deaf, and wish to communicate in British Sign Language (BSL) </li>
        <li>You prefer that the assessment is carried out in Welsh</li>
      </ul>
      <p>You should contact Maximus&#39; customer service centre on the number given on the appointment letter if you wish to have interpretation support.</p>
      <h3>Your Right to Record the Assessment</h3>
      <p>The assessment isn&#39;t recorded by the assessor. You can audio record the assessment, but you must inform the assessor before you attend the appointment that you will be doing this. If you try to record the assessment secretly, you may have your claim turned down automatically.</p>
      <p>Unless you are able to provide a full and accurate copy of the recording to the health professional at the end of the session, either on CD or audio cassette, your request to record it will be refused.</p>
      <p>You cannot video record the assessment. </p>
      <h3>Your Right to Complain About the Assessment</h3>
      <p>Maximus have strict customer service standards that they must stick to under their contract with the DWP.</p>
      <p>If you are unhappy about the way in which your assessment has been carried out, you have the right to make a complaint. Details of how to make a complaint are found on the letter confirming your appointment.</p>
      <h2>Preparing for the Face-to-face Assessment Itself</h2>
      <h3>Documents</h3>
      <p>It is a good idea to have taken a photocopy of the initial application form that you submitted, and of any written evidence that you have from your doctor or other health or support worker.</p>
      <p>You should re-read these before the assessment. They are the background information that the assessor will be using.</p>
      <p>It is possible that your condition has changed since you submitted your application, in particular, it may have worsened. If you can, ask your doctor, or other health worker to write a letter about that change, which you should then bring with you to the assessment.</p>
      <p>If you feel that there was more supporting evidence that you could have provided in your application, bring the relevant documents with you. The assessor will take a copy of these, and consider them as part of the process.</p>
      <h4>This information might include:</h4>
      <ul>
        <li>Information about repeat prescriptions</li>
        <li>A medical records summary from your GP who should be able to print it there and then</li>
        <li>Any letters that show that you are getting support from an organisation in relation to your disability or health condition </li>
      </ul>
      <h3>Being Ready for the Questions</h3>
      <h4>So that you don&#39;t forget to mention them, make a list of:</h4>
      <ul>
        <li>Your health conditions and your disabilities </li>
        <li>The ways in which these conditions and disabilities impact on the activities looked at by the assessment</li>
      </ul>
      <p>You might find it helpful to use the ESA assessment tool on <a href="http://www.esa-assessment.support/" target="_blank">this website</a> to help you think through the things that you want to communicate to the assessor.</p>
      <p>You can save the key points that you want to get across and print them off, or take them with you on your mobile phone or tablet device. You may also find it useful to look at the full list of activities and descriptors from the Government.</p>
      <p>The assessor will ask you a number of questions about the impact of your disabilities/condition on your life. The questions you are asked won&#39;t generally be straightforward repeats of the descriptors and activities. </p>
      <p>They are more likely to be open questions about how you cope with undertaking activities. You may be asked something simple such as whether you can make a cup of tea, this would be asked to see if you are able to pick up things like a carton of milk. These are not trick questions, the assessor is just trying to find out how your condition affects you.</p>
      <p>Some activities are often not well covered in questions. Questions on appropriate behaviour often focus on aggression, but appropriate behaviour is also about control over emotions, levels of friendliness and inhibition, or issues such as panic attacks.</p>
      <p>If you are not sure what a question means, ask the assessor to explain, and take your time answering.</p>
      <h2>The Decision</h2>
      <p>Once you have been assessed, the assessor will look at your application, all the additional information submitted, and review the answers you have given in the assessment.</p>
      <p>They will then write a report, which will be sent to a decision maker at the DWP, who will check that everything has been done correctly. </p>
      <h4>The decision maker will then decide your application in 1 of 3 ways:</h4>
      <ul>
        <li>You will be found fit for work (and be required to look for work) - you may then be entitled to another benefit such as Job Seekers Allowance (JSA), Income Support or Universal Credit </li>
        <li>You will be found fit to take part in &#x2018;work related activity&#x2019;. This means being placed in the Work Related Activity Group</li>
        <li>You will be found unfit to take up work or take part in work related activity - this means being placed in the Support Group</li>
      </ul>
      <p>The DWP will write to you to tell you what decision they have made on your application, and the amount that you will be paid. They will give you an explanation of why they have come to that decision. This will include setting out the points that you received in the assessment as a whole and under each activity. </p>
      <h3>Work Related Activity Group v Support Group</h3>
      <h4>There are four areas in which the difference between being placed in the Work Related Activity Group (WRAG) and the Support Group is particularly important:</h4>
      <ul>
        <li>Being required to carry out work focused interviews and work related activity </li>
        <li>Sanctions</li>
        <li>Claiming contribution-based and income-related ESA</li>
        <li>The amount of ESA that you will be paid </li>
      </ul>
      <h3>Work Focused Interviews / Work Related Activity</h3>
      <p>If you are placed in the WRAG, you will be called to attend a work focused interview.</p>
      <p>The aim of this interview is to identify the steps you could take to prepare yourself to apply for or take up a job in the future. You may be asked to take part in a number of work focused interviews over the time that you are claiming ESA. </p>
      <p>Based on the work focused interview, you may be asked to take part in a variety of work related activities. These may include taking part in voluntary work, work trials or a training programme. You will not have to apply for jobs, or undergo any type of treatment.</p>
      <p>If you are placed in the Support Group, you do not have to take part in work focused interviews, or any work related activity.</p>
      <h3>Sanctions</h3>
      <p>Benefit sanctions are intended to make sure that you undertake any work focused/work related activity that is required of you as a condition of claiming ESA. A sanction stops or reduces the amount of benefit that you receive.</p>
      <p>If you are placed in the Support Group, you cannot be sanctioned as no such work related activity is required of you.</p>
      <p>If you are placed in the Work Related Activity Group, failure to attend a work focused interview, or to undertake a work related activity that you have been asked to do will mean that you will be sanctioned. </p>
      <p>You may have good cause for not attending/not undertaking an activity; if this is the case, then you must make the Job Centre aware of it as soon as possible to avoid having a sanction applied.</p>
      <p>Sanctions are applied until you attend another work focused interview, plus a period of 1, 2, or 4 weeks, dependent on whether this is the first, second, third or indeed an even further time that you have been sanctioned.</p>
      <p>You can appeal against a sanction (see relevant section below for more information about appeals).</p>
      <h3>Contribution-based and Income-related ESA</h3>
      <p><strong>Contribution-based ESA</strong> is paid to ESA claimants who have paid enough National Insurance contributions.</p>
      <p>If you are placed in the Work Related Activity Group, your claim for contribution-based ESA is limited to 365 days. If you are placed in the Support Group, that time limit does not apply.</p>
      <p><strong>Income-related ESA</strong> is paid to people whose income (looking at their income and their partners&#39;) and level of savings is low enough. What you receive is decided by the Government working out how much you need to live on, and paying you ESA to make up your income to that amount. In some circumstances income-related ESA may also be used to top up your contribution-based ESA.</p>
      <p>You cannot claim income-related ESA if you have savings of over &#xA3;16,000, or your partner works more than 24 hours per week.</p>
      <p>You can claim income-related ESA without time limit, although you may of course have your entitlement to ESA reassessed at some point.</p>
      <p>In some parts of the country you can no longer make a new claim for income-related ESA, instead you claim Universal Credit. Eventually, Universal Credit will replace income-related ESA everywhere. This guide does not provide details about Universal Credit which you usually have to claim on-line. One of the places you can find out more <a href="https://www.gov.uk/universal-credit">information about Universal Credit is this page on gov.uk</a>.</p>
      <h3>Payment Rates</h3>
      <p>Working out how much ESA you are entitled to claim can be complicated, particularly if you are claiming income based ESA. What follows is the most basic information that we can provide.</p>
      <p>Whilst you are in the assessment process you will be claiming the assessment or basic rate of ESA. This is usually paid at &#xA3;57.90 per week if you are under 25, &#xA3;73.90 per week if you are over 25. </p>
      <p>Once you have your decision, if you are being paid contribution-based ESA, you will be paid an additional &#xA3;36.20 if you are in the Support Group. Some people in the ESA work-related activity group may get more than the basic amount if they applied before 3 April 2017.</p>
      <p>If you&#39;re in the support group and on income-related ESA, you&#39;re also entitled to the Enhanced Disability Premium at &#xA3;15.75 a week.</p>
      <p>The calculation of how much income-related ESA you should receive is more complex, and depends on your household income, whether you live with a partner, how old you (and your partner are), and whether you are a single parent.</p>
      <h3>Reassessment</h3>
      <p>The assessor will include within their report a recommendation about when they think it is possible that you will be once more fit for work/to apply for a job, or when you may be able to engage in work related activity. </p>
      <p>You may be called for reassessment in the future based on this recommendation, or if the decision maker believes that your circumstances may have changed.</p>
      <h2>Unhappy with the Decision?</h2>
      <h3>First Steps</h3>
      <p>You may be unhappy with the decision that you get from the DWP. Your next step is to request what is called a &#x2018;mandatory reconsideration&#x2019;.</p>
      <p>This means formally asking the DWP to look again at their decision. The quickest way to do this is by phoning the DWP. If you do not want to call them, you must write to the address on your decision notice. You need to explain to them why you do not
        agree with the decision, you can also include further supporting information.</p>
      <p>If you are unhappy with the decision that you have received, you need to take action quite quickly. You only have one month from the date of the decision letter to ask for a mandatory reconsideration. </p>
      <p>During the reconsideration process, the DWP will attempt to phone you to ask about your request. They may ask for further information and they will explain their decision.</p>
      <p>If they can&#39;t get hold of you by phone, the DWP will then review its decision, and write to you to tell you what that decision is, and to explain why they have reached it. They will send you 2 copies of their decision in a mandatory reconsideration
        notice.
      </p>
      <h3>Appeal</h3>
      <p>If you are still unhappy with the decision you have received, you can appeal against it.</p>
      <p>Again, you need to act quickly. You must make your appeal in writing or on form SSCS1 within one month of the date of the letter telling you the result of your mandatory reconsideration.</p>
      <p>You send the appeal to HM Courts and Tribunal Service not the DWP. You must include a copy of the DWP&#39;s mandatory reconsideration notice with your appeal form/letter. </p>
      <p>We recommend that you get support from a CAB or other advice agency when asking for a mandatory reconsideration. We even more strongly recommend that you seek such support if you are appealing against a decision. </p>
      <p>Details of how to find advice services are available from the <a href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/" target="_blank">CAB</a> and <a href="http://www.adviceuk.org.uk/looking-for-advice-2/" target="_blank">Advice UK</a> websites. Your support worker, health worker or social worker may be able to refer or point you to local support. </p>
      <h3>Appealing Sanctions</h3>
      <p>The process for appealing sanctions involves the same mandatory reconsideration and appeal stages.</p>
      <h2>Your Responsibilities</h2>
      <p>You have the responsibility to report to the DWP if something changes in your circumstances that affects your entitlement to ESA. That includes things like your condition changing, for better or worse. You should also inform the DWP if you move house.
      </p>
      <h4>You can report changes by contacting the DWP ESA helpline:</h4>
      <ul>
        <li>By telephone on 0345 608 8545 (Welsh language line - 0345 600 3018)</li>
        <li>By textphone on 0345 608 8551</li>
      </ul>
      <p>If you do not report changes to the DWP which cause your ESA to be overpaid, you will have to repay the benefit overpaid, and may be liable to a civil penalty.</p>
      <p>Deliberately concealing changes from the DWP, or deliberately submitting false information at any point in the assessment process is benefit fraud, a criminal offence, with criminal penalties attached.</p>
      <ul aria-label="menu">
        <li>
          <button class="nav-link pick" data-action="start-or-resume">Try some questions</button>
        </li>
        <li>
          <button class="nav-link break" data-action="break">I&#39;ll have a break</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide main-menu" id="main-menu">
    <div class="flow">
      <h1 tabindex="-1">ESA Assessment</h1>
      <p>If you can&#39;t work because of illness or disability, you could be eligible for Employment and Support Allowance &#40;<abbr title="Employment And Support Allowance">ESA</abbr>&#41;.</p> 
      <p>We understand that the benefits system can be confusing, so this site is here to help you prepare for the assessment.</p>
      <p>In some areas Universal Credit is replacing new claims for ESA, for more information about Universal Credit visit <a href="https://www.gov.uk/universal-credit" target="_blank">https://www.gov.uk/universal-credit</a> and <a href="https://ucpostcode.entitledto.co.uk/ucdate" target="_blank">https://ucpostcode.entitledto.co.uk/ucdate</a> to find out if you need to claim UC or ESA. In both cases the questions and scoring on this site will apply.</p>
      <div class="big-buttons">
        <div class="learn-about">
          <button data-action="about-esa" role="link"><span>Learn more about ESA</span></button>
          <ul class="ticks">
            <li>Understand what <abbr title="Employment And Support Allowance">ESA</abbr> is and how to apply for it.</li>
            <li>Understand the assessment process.</li>
            <li>Understand how to answer the questions in the assessment.</li>
            <li>Be clear about your rights.</li>
          </ul>
        </div>
        <div class="quiz-time">
          <button data-action="start-or-resume"><span>Take a look at some questions</span></button>
          <ul class="ticks">
            <li>Get more confident about the assessment.</li>
            <li>Get ready at your own pace.</li>
            <li>Keep track of what to mention on the form and at your assessment.</li>
            <li>Get an idea of whether you'll qualify, and at what level.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="slide activity-finished" id="activity-finished">
    <div class="box">
      <span class="sprite-icons sprite-tick" alt="check box tick"></span>
      <div class="flex-center">
        <p>You&#39;ve seen all the practice questions about <strong id="this-activity">this activity</strong>. What would you like to look at next?</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="activities" role="link">A new activity</button>
        </li>
        <li>
          <button class="nav-link" data-action="your-assessment" role="link">Your assessment so far</button>
        </li>
        <li>
          <button class="nav-link" data-action="about-esa" role="link">Guide to ESA</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide activity-selection" id="activity-selection">
    <div class="box">
      <h1 tabindex="-1">Activity Selection</h1>
      <div class="flex-center activity">
        <p>Activity: <span id="unseen-category">Unseen category</span></p>
      </div>
      <div class="flex-center">
        <p>Because you chose &#x201c;Pick at random&#x201d;, we have selected an activity containing questions you haven&#39;t seen yet. Remember: You can <a role="button" href="#break-time" data-action="break">take a break</a> at any time.</p>
      </div>
      <ul aria-label="menu">
        <li>
          <button class="nav-link" data-action="set-cat" data-category="random-category">Try the questions</button>
        </li>
        <li>
          <button class="nav-link" data-action="activities">Choose a different activity</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="slide categories" id="activities">
    <div id="categories-content">
    </div>
  </div>

  <div class="slide assessment-checklist" id="assessment-checklist">
    <div class="flow" id="remember-slide-content">
    </div>
    <div class="flow" id="remember">
    <h2>Remember</h2>
    <h3>Travel</h3>
    <ul class="ticks">
      <li>
        Plan your journey to the assessment - your appointment letter will usually have a map with it.
      </li>
      <li>
        Your assessor will probably ask you how you got to the assessment. It may affect your claim if your answer seems to contradict the answers given on your form.
      </li>
      <li>
        Ask for a travel reimbursement claim form at the assessment if you do not already have one.
      </li>
      <li>
        Make sure you keep bus/train tickets/receipts or parking tickets/receipts for you and anyone who goes with you.
      </li>
    </ul>
    <h3>Letters from the DWP</h3>
    <ul class="ticks">
      <li>
        You need to take your appointment letter and proof of ID to the assessment. Your letter tells you what is acceptable proof of ID.
      </li>
      <li>
        Your appointment letter tells you about some other things to take such as medical letters, glasses, walking aids etc.
      </li>
    </ul>
    <h3>Preparing your answers</h3>
    <ul class="ticks">
      <li>
        If your condition has worsened since you completed the form, get a report/letter from a doctor or other professional to explain how it has changed, and how that impacts on you.
      </li>
      <li>
        Write down points you want to make about your conditions and their impact on you in case they are not covered/asked about by the assessor.
      </li>
      <li>
        Write down any questions you may have for the assessor.
      </li>
      <li>
        Consider keeping a diary which you can show the assessor. This will help you track your good and bad days, the impact of any treatment you have, and whether what you do on one day affects how you feel on the next.
      </li>
    </ul>
    <h3>At the assessment</h3>
    <ul class="ticks">
      <li>
        You can take someone with you to the assessment.
      </li>
      <li>
      	You have the right to audio (not video) record the assessment, but you must tell the assessor before you attend the appointment that are going to do so, and you must be able to provide a copy to the assessor at the end of the session.
      </li>
      <li>
        Remember, the assessor does not decide your entitlement to benefit, they send a report to DWP who decides. You have the right to challenge the outcome of the assessment.
      </li>
      <li>
        If you are not sure about what you are being asked, ask the assessor for an explanation.
      </li>
      <li>
        Take your time to answer questions.
      </li>
      <li>
        If you are asked to do something physical such as bend or stretch, and it causes you any difficulty or pain or you can&#x2019;t do it, then tell the assessor.
      </li>
    </ul>
    <h3>If you can&#x2019;t attend</h3>
    <ul class="ticks">
      <li>
        If you can&#x2019;t make it to the appointment you must let the DWP know. If you do not, and you do not go, your benefit will be affected and may be stopped until you do attend an assessment. You will not usually be able to cancel more than one appointment without it affecting your benefit.
      </li>
    </ul>
  <ul aria-label="menu">
  <li>
    <button class="nav-link print" onclick="window.print()">Print checklist</button>
  </li>
  <li>
    <button class="nav-link" data-action="about-esa">Read more about ESA</button>
  </li>
  <li>
    <button class="nav-link" data-action="start-or-resume">Try some questions</button>
  </li>
</ul>
</div>
  </div>

  <div class="slide score" id="score">
    <div id="slide-score-content">
    </div>
  </div>
  <footer role="contentinfo">
    <p>Brought to you by
      <a href="http://www.seap.org.uk/" target="_blank" title="The Charity, seAp (link opens new tab)">
        <span class="sprite sprite-logo" alt="The Charity, seAp (link opens new tab)"></span>
      </a>
      <a href="http://www.thelegaleducationfoundation.org/" target="_blank" title="The Legal Education Foundation (link opens new tab)">
        <span class="sprite sprite-TLEFlogo" alt="The Legal Education Foundation logo (link opens new tab)"></span>
      </a>
      <a href="http://www.comicrelief.com/" target="_blank" title="Comic Relief (link opens new tab)">
        <span class="sprite sprite-comic" alt="Comic Relief (link opens new tab)"></span>
      </a>
    </p>
    <div class="privacy-link">
      <a id="feedback" href="https://www.surveymonkey.co.uk/r/XLLSBJX" target="_blank" title="ESA Survey (link opens new tab)">Do you have any feedback about this site?</a>
      <a id="privacy" href="http://c-app.org.uk/privacy.html">Privacy &#x26; terms of use</a>
    </div>
  </footer>
  <script>
    window.allQuestions = [{{#each questions}}{ question: 'question-{{sluggify question}}', category: '{{category}}'}, {{/each}}];
    window.allCategories = [{{#each questions}}'{{category}}',{{/each}}];
  </script>
  <script src="js/all-scripts.js"></script>
  <script id="stats-template" type="text/x-handlebars-template">
  <!--(bake stats-template.html)-->
  </script>
  <script id="categories-template" type="text/x-handlebars-template">
  <!--(bake categories-template.html)-->
  </script>
  <script id="about-buttons-template" type="text/x-handlebars-template">
  <!--(bake about-buttons-template.html)-->
  </script>
  <script id="score-template" type="text/x-handlebars-template">
  <!--(bake score-template.html)-->
  </script>
  <script id="remember-template" type="text/x-handlebars-template">
  <!--(bake remember-template.html)-->
  </script>
</body>

</html>
